h1 {
    color: var(--primary-text);
    font-size: 100px;
    margin: 0;
}


.profile-wrapper {
    display: flex;
    width: 70%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    position: relative;
}

.profile-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 70px;
    width: 60%;
}

.name {
    color: var(--primary-text);
    font-size: 70px;
    text-shadow: 0 0 15px var(--primary-text);
    margin: 0px;
    letter-spacing: 10px;
}

.description {
    color: var(--secondary-text);
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 3px;
}

.profile-picture {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.scroll-indicator {
    position: absolute; 
    bottom: 30px; 
    left: 50%; 
    transform: translateX(-50%); 
    font-size: 15px;
    color: var(--secondary-text);

    display: flex;
    flex-direction: column;
    align-items: center;
    
    animation: bounce 2s infinite;

    opacity: 0.7;
    transition: opacity 0.5s ease-in-out;
}

.content-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    row-gap: 50px;
    width: 50%;
    padding: 50px;
}

.content-container {
    height: 200px;
    background-color: rgba(1, 41, 68, 1);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
}

.content-container:hover {
    scale: 1.1;
    background-color: rgba(1, 41, 68, 0.5);
}

.content-container-title {
    font-size: 30px;
    margin: 0;
    color: var(--primary-text);
}

ul {
    font-size: 20px;
    color: var(--secondary-text);
    line-height: 25px;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0) translateX(-50%); /* Default position */
    }
    40% {
        transform: translateY(-20px) translateX(-50%); /* Move up */
    }
    60% {
        transform: translateY(-10px) translateX(-50%); /* Move down slightly */
    }
}