
.profile-wrapper {
    display: flex;
    width: 70%;
    height: 40%;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.profile-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}

.name {
    color: var(--primary-text);
    font-size: 70px;
    text-shadow: 0 0 15px var(--primary-text);
    margin: 0px;
}

.description {
    color: var(--secondary-text);
    font-size: 20px;
}

.profile-picture {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}