:root {
    --primary-color: #222222;
    --accent-color: #ffffff;
    --primary-bg: #001a2b;
    --secondary-bg: rgb(1, 41, 68);
    --primary-text: #93b0ff;
    --secondary-text: #d3d3d3;
    --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    --border-radius: 12px;
}

#particles-js {
    position: fixed; /* Fixes it to the viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background-color: #001a2b; 
    
    z-index: -1; 
}

body {
    font-family: 'Arial';
    /* background-color: var(--primary-bg); */
    background-color: transparent !important;
    margin: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;   
    justify-content: center;
    overflow-x: hidden;
}

.nav-bar {
    background-color: var(--secondary-bg);
    width: 100%;
    height: 70px;
    box-shadow: var(--box-shadow);
    margin: 0;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 999;
}

.nav-bar-button {
    background-color: transparent;
    color: var(--secondary-text);
    width: 70px;
    height: 30px;
    border: none;
    border-radius: var(--border-radius);
    transition: 0.3s;
    margin: 0;
    font-size: 20px;
}

.nav-bar-icon {
    background-color: transparent;
    border: none;
    width: 30px;
    height: 30px;
    transition: 0.3s;
}

.nav-bar-button:hover {
    scale: 1.1;
    cursor: pointer;
    color: var(--primary-text);
}

.nav-bar-icon:hover {
    scale: 1.1;
    cursor: pointer;
    color: var(--primary-text);
}