:root {
    --primary-color: #222222;
    --accent-color: #ffffff;
    --primary-bg: #001a2b;
    --secondary-bg: #222222;
    --primary-text: #93b0ff;
    --secondary-text: #d3d3d3;
    --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    --border-radius: 12px;
}

body {
    font-family: 'Arial';
    background-color: var(--primary-bg);
    margin: 0;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.nav-bar {
    background-color: var(--secondary-bg);
    width: inherit;
    height: 70px;
    box-shadow: var(--box-shadow);
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: space-around;

}

.nav-bar-button {
    background-color: transparent;
    color: var(--secondary-text);
    width: 70px;
    height: 30px;
    border: none;
    border-radius: var(--border-radius);
    transition: 0.3s;
    margin: 0;
    font-size: 20px;
}

.nav-bar-icon {
    background-color: transparent;
    border: none;
    width: 30px;
    height: 30px;
    transition: 0.3s;
}

.nav-bar-button:hover, .nav-bar-icon:hover{
    scale: 1.1;
}